<div class="divider-new">
    <h2 class="h2-responsive">History</h2>
</div>
<!--Section: Best features-->
<section id="best-features">
    <div class="row">
        <!--First columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img class='img-fluid' src="assets/bear4.jpg" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title black-text">Feed ME!</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text purple-text">Omg here I am trying so hard to get my lovely sister to give me some food, and she just keeps mouthing words that I don't understand. Sis! I don't speak human!</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="assets/bear5.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title black-text">Young Sexy Me!</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text purple-text">UUUUGh! I told them to not keep this pic. I look so scrawny. I was on this dumb little puppy diet and it did not work. But my sis Heather!! had to take the pic. Thanks sis -__- </p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="assets/bear2.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title black-text">Hugs</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text purple-text">Oh, I remember this pic. I hit my paw jumping up in the car, and it hurt soooo bad. But luckily my sis gave me a hug, and it was soooo nice. I wish she wore deodorant though . . .</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->
       <!--Third columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://instagram.fsnc1-2.fna.fbcdn.net/t51.2885-15/e35/12907325_917224598395482_2008180420_n.jpg?ig_cache_key=MTIxODQyOTE1NTEyMzA0NDk3Ng%3D%3D.2" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title black-text">Squirrel Dogs</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text purple-text">Okay I get it sis . . . But I mean you walked around the house, doesn't that mean you can walk me to the doggy park so I can make fun of all the small dogs that look like squirrels.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->
    </div>
</section>