<div class="divider-new">
    <h2 class="h2-responsive">History</h2>
</div>
<!--Section: Best features-->
<section id="best-features">
    <div class="row">
        <!--First columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img class='img-fluid' src="assets/bear4.jpg" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="assets/bear5.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="assets/bear2.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->
       <!--Third columnn-->
        <div class="col-md-3">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://instagram.fsnc1-2.fna.fbcdn.net/t51.2885-15/e35/12907325_917224598395482_2008180420_n.jpg?ig_cache_key=MTIxODQyOTE1NTEyMzA0NDk3Ng%3D%3D.2" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block text-xs-center">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->
    </div>
</section>