<div class="divider-new">
    <h2 class="h2-responsive">Contact me</h2>
</div>
<!--Section: Contact-->
<section id="contact">
    <div class="row">
        <!--First column-->
        <div class="col-md-8">
            <!--Map container-->
            <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>
            <br>
        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-4">
            <ul class="text-xs-center">
                <li class="wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-map-marker"></i>
                    <p>Pleasanton Ca, 94588</p>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-envelope"></i>
                    <p>bearDHugs@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--/Second column-->
    </div>
</section>