<!--Footer-->
<footer class="page-footer elegant-color center-on-small-only">

<hr>

<!--Social buttons-->
<div class="social-section">
    <a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
    <a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
    <a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
    <a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a>
    <a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a>
    <a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a>
    <a href='https://www.instagram.com/bear_withus/' type="button" class="btn-floating btn-large btn-ins"><i class="fa fa-instagram"></i></a>
</div>
<!--/.Social buttons-->

<!--Copyright-->
<div class="footer-copyright">
    <div class="container-fluid">
        © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
    </div>
</div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->