<!--Footer-->
<footer class="page-footer elegant-color center-on-small-only">

<hr>
<!--Social buttons-->
<div class="social-section">
    <a href='https://www.facebook.com/collin.shelby' class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
    <a href='https://www.linkedin.com/in/collin-shelby' class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a>
    <a href='https://github.com/collinL34/BearHugs' class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a>
    <a href='https://www.instagram.com/bear_withus/' type="button" class="btn-floating btn-large btn-ins"><i class="fa fa-instagram"></i></a>
    <hr>
</div>
<!--/.Social buttons-->

<!--Copyright-->
<div class="footer-copyright">
    <div class="container-fluid">
        © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
    </div>
</div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->