<!--Intro content-->
<div class="full-bg-img flex-center">
    <ul class='list'>
        <li>
            <h1 class="h1-responsive">BearHugs Fan Page</h1></li>
        <li>
            <p>The Greatest Dog In The World</p>
        </li>
        <li>
            <!--Facebook-->
            <a type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
            <!--Linkedin-->
            <a type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
            <!--Instagram-->
            <a href='https://www.instagram.com/bear_withus/' type="button" class="btn-floating btn-large btn-ins"><i class="fa fa-instagram"></i></a>
        </li>
    </ul>
</div>
<!--/Intro content-->