<!--Intro content-->
<div class="full-bg-img flex-center">
    <ul class='list'>
        <li>
            <h1 class="h1-responsive deep-purple-text">BearHugs Fan Page</h1></li>
        <li>
            <p class="deep-purple-text">The Greatest Dog In The World</p>
        </li>
    </ul>
</div>
<!--/Intro content-->