<nav class="navbar navbar-dark navbar-fixed-top">
    <ol class="breadcrumb elegant-color">
        <li class="breadcrumb-item"><a href="" class='deep-purple-text'>Home</a></li>
        <li class="breadcrumb-item"><a href="#author" class='deep-purple-text'>Author</a></li>
    </ol>
</nav>
