<nav class="navbar navbar-dark navbar-fixed-top">
    <ol class="breadcrumb elegant-color">
        <li class="breadcrumb-item"><a href="/" class='deep-purple-text' style="font-size: 25px;">Home</a></li>
    </ol>
</nav>
